# Core Data Science
pandas
numpy

# Web Application
streamlit

# Deep Learning & NLP
torch
transformers
safetensors

# Visualisasi
matplotlib
seaborn
plotly
wordcloud

# Scraper & Utilities
google-play-scraper
xlsxwriter
sastrawi